<div class="container">
  <header>
    <h1 class="logo">BCG<span class="highlight">X</span></h1>
    <h2 class="title">Price Optimization Tool</h2>
    <p class="subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </header>

  <div class="card-container">
    <div class="create-card" (click)="routetocreate()">
      <div class="icon">
        <img src="assets/createManageProduct.png" alt="Hub Icon" class="icon-image" />
      </div>
      <h1>Create and Manage Product</h1>
      <p>Creation and overall management of all your products</p>
      <div class="arrow">&#8594;</div>
    </div>

    <div class="optimization-card" (click)="routeToPriceOptimizer()">
      <div class="icon">
        <img src="assets/pricingOptimization.png" alt="Hub Icon" class="icon-image" />
      </div>
      <h1>Pricing Optimization</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="arrow">&#8594;</div>
    </div>
  </div>
</div>
